/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
}
html.no-mediaqueries {
    font-size:2em;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0;
  background: #ccc;
  color: #333;
  padding: 0.4em 0;
  text-align: center;
  font-size: 16px;
}
.browserupgrade a {
  color:#666;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    height:100%;
}
body {
    height:100%;
    font-family:"chaparral-pro",Georgia,"Times New Roman",Times,serif;
    font-weight:400;
    background-attachment:scroll;
    background-attachment:fixed;
    background-image:url(../img/background-pattern.png);
    background-repeat:repeat;
    background-size:contain;
}
section {
    width:100%;
    min-height:100%;
    /*min-height:100vh; // Messes up iOS */
    position:relative;
    overflow:hidden;
    color:#333;
}
section.past .section__content {
    opacity:0.5;
}
section.active .section__content {
    opacity:1;
}
section.future .section__content {
    opacity:0.5;
}
p {
    margin-top:0;
}
.section--light {
    color:#fefefe;
}
.section--light .section__number {
    border-bottom-color:#fefefe;
}
.section--image {
    background-size:cover;
    background-position:50% 50%;
}
.section--type1 {
    background-color:#0f3d4c;
    background-color:rgba(15,61,76,0.97);
    color:#fff;
}
.section--type1 .section__number {
    color:#00b3eb;
}
.section--type2 {
    background-color:#e4b53c;
    background-color:rgba(228,181,60,0.97);
    color:#fff;
}
.section--type2 .section__number {
    color:#0b2c37;
}
.section--type2 .section__content a {
    color:#eee;
}
.section--type3 {
    background-color:#f0f2e9;
    background-color:rgba(240,242,233,0.97);
    color:#333;
}
.section--type3 .section__number {
    color:#a23479;
}
.section--type3 .section__content a {
    color:#666;
}
.section--type4 {
    background-color:#9E1722;
    background-color:rgba(158,23,34,0.97);
    color:#fff;
}
.section--type4 .section__number {
    color:#e4b53c;
}
.section--type4 .section__content a {
    color:#eee;
}
.section--image {
    background-size:cover;
    background-position:50% 100%;
}
.section__content {
    width:80%;
    max-width:800px;
    padding:1em 5%;
    max-height:70%;
    overflow:auto;
    -webkit-transition:opacity 0.4s ease-in-out;
            transition:opacity 0.4s ease-in-out;
}
.section__content a {
    color:#ccc;
}
.no-csstransforms .section__content {
    position:absolute;
    top:50%;
    left:50%;
    width:800px;
    margin:-200px 0 0 -400px;
}
.csstransforms .section__content {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
}
.section__stat {
    font-size:2rem;
    line-height:1;
}
.section__number {
    font-weight:700;
}
.section__number small {
    font-size:16px;
    font-size:1rem;
}
.section__text {
    margin:10px 0 0;
}
.section__text *:first-child {
    margin-top:0;
}
.section__text *:last-child {
    margin-bottom:0;
}
/* Intro bits */
.intro__header {
    margin:0;
    color:#00b3eb;
    font-size:80px;
    font-size:5rem;
    line-height:0.8;
}
.intro__subheader {
    margin:0 0 24px;
    color:#00b3eb;
    font-size:32px;
    font-size:2rem;
    line-height:0.8;
    font-style:italic;
}
.intro__logo {
    position:absolute;
    top:20px;
    left:10%;
    width:198px;
    height:30px;
    line-height:30px;
    margin:0;
    max-width:80%;
}
.intro__logo img {
    max-width:100%;
}
.intro__scroll {
    position:absolute;
    bottom:10px;
    left:50%;
    width:12em;
    margin:0 0 0 -6em;
    text-align:center;
    color:#00b3eb;
    text-decoration:none;
}
.outro__header {
    margin:0 0 12px;
    color:#fff;
    font-size:48px;
    font-size:3rem;
    line-height:1.1;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (min-width: 16.5em) {
    /* Header still too wide when width < ~264px */
    .intro__header {
        font-size:96px;
        font-size:6rem;
    }
}
@media only screen and (min-width: 22em) {
    /* Header gets too wide when width < ~352px */
    .intro__header {
        font-size:128px;
        font-size:8rem;
    }
}
@media only screen and (min-width: 35em) and (max-width: 62.5em) {
    /* Style adjustments for viewports that meet the condition */
    html {
        font-size:20px;
    }
}
@media only screen and (min-width: 62.5em) {
    /* Style adjustments for viewports that meet the condition */
    html {
        font-size:32px;
    }
    .intro__logo {
        left:100px;
        width:264px;
        height:40px;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
